* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .credit {
    text-align: center;
    margin-top: 7rem;
    padding-top: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: rgb(26, 24, 24);
    border-top: 0.1rem solid #545b5978
}

.footer .credit span {
    color: #0e351b;
}

.left {
    display: inline-block;
    /* border: 2px solid red;*/
    position: absolute;
    left: 34px;
    top: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.left div a {
    text-decoration: none;
    color: #0000007a;
}

.left img {
    display: inline-block;
    width: 57px;
    margin-right: 0px;
    border-radius: 9px;
    opacity: 0.6;
    margin-left: 17px;
}

.row {
    width: 1000px;
    display: flex;
    justify-content: center;
    /* horizontally center*/
    align-items: center;
    /* vertically center*/
    margin: 10px;
    /* height: 100px; */
    /* border: 1px red solid; */
    text-align: center;
    font-size: 36px;
}

#search {
    /* text-align: center; */
    border-radius: 25px;
    font-size: 25px;
    padding: 17px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #64602b;
}